@media only screen and (max-width:1200px){
    header{
        height: 65vh;
    }
}
@media only screen and (max-width:1024px){
    .mobile-menu span{
         display: block;
    }
    header{
        height: 55vh;
    }
    .row{
        margin: 0 15px;
    }
    .main-nav{
        display: none;
    }
    html{
        font-size: 57.5%;
    }
    .client-photo{
        width: 100%;
        float: none;
        text-align: center;
    }
    .client-review{
        width: 100%;
        float: none;
        text-align: center;
    }
    .client-section{
        width: 100%;
        margin: 0;
    }
}
@media only screen and (max-width:980px){
    .span_1_of_4 {
        width: 49.2%;
    }
    .span_1_of_4:nth-child(3){
        margin: 0;
    }
    html{
        font-size: 62.5%;
    }
}

@media only screen and (max-width:768px){
    header{
        height: 45vh;
    }
    .span_1_of_4{
        width: 100%;
    }
    .client-review p{
        text-align: center;
    }
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 2rem;
    }
}
@media only screen and (max-width:480px){
    header{
        height: 75vh;
    }
    .little-description{
        width: 100%;
        margin-left: 0;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1rem;
    }
}
.testimonial-section .col:nth-child(3),
.testimonial-section .col:nth-child(4){
margin-top: 4rem;
}